.card {
  background-color: white;
  border-radius: 2rem;
  padding: .5rem;
  filter: drop-shadow(0 .3rem 1.5rem rgba(0,0,0,.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 1.6rem;
}

