/****** accommodation And popular ***********/
.accommodation-and-popular {
  display: flex;
  justify-content: space-between;
}

.accommodation-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 2rem;
  padding: 3rem;
  box-sizing: border-box;
}

/****** accommodation ***********/
.accommodation {
  width: 65%;
}

/****** popular ***********/
.popular {
  width: 32%;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-cards .card {
  display: flex;
  margin-top: 3.3rem;
}

.popular-cards img {
  width: 33%;
  height: 13.6rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.popular-cards .card-content {
  width: 67%;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular-cards .card-title {
  margin-top: 1rem;
  margin-bottom: .4rem;
}

.popular-cards .card-subtitle {
  margin: 0;
}

.popular-cards .card-rating {
  margin-bottom: .5rem;
}


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .accommodation-and-popular {
      flex-direction: column;
  }

  .accommodation {
      width: 100%;
  }

  .popular {
      width: 100%;
      margin-top: 5rem;
  }

  .popular-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .popular-cards .card {
      width: 30%;
  }

  .popular-cards .card-title {
      font-size: 1.4rem;
  }

  .popular-cards .card-subtitle {
      font-size: 1.3rem;
  }
}
