@media (min-width: 76.8rem) {
  .accommodation-and-popular {
    flex-direction: column-reverse;
  }

  /****** accommodation ***********/
  .accommodation-and-popular section.accommodation {
    background-color: var(--main-bg-color);
  }

  .accommodation-cards {
    margin-top: 1.5rem;
  }

  .accommodation .card {
    margin: 1.5rem 0;
  }
}


@media (min-width: 102.4rem) {
  .accommodation-and-popular {
    flex-direction: row-reverse;
  }

  .accommodation-and-popular section {
    margin-left: 4rem;
    padding: 2rem 3rem;
    border-radius: 2rem;
  }

  /****** accommodation ***********/
  .accommodation {
    width: 65%;
  }

  .accommodation-and-popular section.accommodation {
    margin: 0;
  }

  /****** popular ***********/
  .popular {
    width: 32%;
  }

  .popular-cards {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .popular-cards ul {
    display: flex;
    flex-direction: column;
  }

  .popular-cards .card {
    width: 100%;
  }
}
