/****** accommodation And popular ***********/
.accommodation-and-popular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accommodation-and-popular section {
  background-color: var(--main-bg-color);
  padding: 1.5rem 2rem;
  border-radius: var(--default-space);
  box-sizing: border-box;
}

/****** accommodation ***********/
.accommodation-and-popular section.accommodation {
  width: 100%;
  margin: 2rem 0 5rem;
  background-color: var(--white);
}

.accommodation-cards {
  margin-top: .75rem;
}

.accommodation .card {
  margin: .75rem 0;
}

.accommodation img {
  width: 100%;
  height: 12.4rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  object-fit: cover;
}

.accommodation .card-content {
  padding: 0 1.5rem 1rem;
}

/****** popular ***********/
.popular {
  width: 100%;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-title .fa-solid {
  color: var(--main-color);
  font-size: 1.575rem;
}

.popular-cards {}

.popular-cards .card {
  display: flex;
  margin-top: 1.5rem;
}

.popular-cards img {
  width: 33%;
  height: 13.6rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.popular-cards .card-content {
  width: 67%;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.accommodation-cards .card-title,
.popular-cards .card-title {
  margin-top: 1rem;
  margin-bottom: .4rem;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 700;
}

.accommodation-cards .card-subtitle,
.popular-cards .card-subtitle {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.popular-cards .card-rating {
  margin-bottom: .5rem;
}

